<h1>Edit Profile</h1>
<%= user.displayName %>

<!--Updated email: <%//= email %>-->

<form method="post">
    <input name="email">
    <input type="submit">
    <p>Video Message</p>
    <input name='video'>
    <input type="submit">
    <p>Description</p>
    <input name='Description'>
    <input type="submit">
    <p>Bootcamp Name</p>
    <input name='Bootcamp Name'>
    <input type="submit">
    <p></p>


</form>

