<h1>students page</h1>

<%= user.displayName %>

<ul>
    <% users.forEach(function(u) { %>

    <li><%= u.name %></li>
    <ul>
        <li><%= u.tagline %></li>
        <li><%= u.location %></li>


    </ul>
    <hr>

    <% }); %>
</ul>

